div.tabHead {
    display: flex;
    flex-direction: row;
    /* align-items: center;  */
    margin: 5px 5px;
}

div.tabHead > span {
    flex: 1; 
    text-align: left;
}

div.tabHead a#clearSelected { 
    flex: 1; 
    text-align: center; 
}

div.tabHead a#clearAll { 
    flex: 1; 
    text-align: right; 
}
