/* tbody tr.comparisonTblRow:hover {
    border: 3px solid red!important;
}
 */
tbody tr.comparisonTblRow {
    border: 1px solid black;
    cursor: pointer;
}

.leaflet-sidebar-header {
    background-color: black!important;
}

.leaflet-sidebar-tabs > ul > li.active {
    background-color: black!important;
}

@media (min-width: 1200px) {
    .leaflet-sidebar {
        width: 40vw;
        max-width: 40vw;
    }
}

.containerDiv {
    display: flex;
    flex-direction: column
}

.featuresTable{
    flex: 1;
    max-height: 400px;
    overflow: auto;
}

.recommendations{
    flex: 1;
    max-height: 200px;
    overflow-y: auto;
}

/* html, 
body, 
.leaflet-sidebar-content,
.leaflet-sidebar-pane,
.container-table, 
.inline-row, 
.inline-row > div {
    height: 100%!important;
    overflow: hidden;
}

.container-table {
    table-layout: fixed;
    display: table!important;
    width: 100%!important;
}

.inline-row { 
    display: table-row!important; 
}
.inline-row > div { display: table-cell!important; }

.inline-row > div > .row { height: 100%!important; }
.inline-row > div .row > div { height: 50%!important; overflow-y:auto!important; } */


/* Fixed table header */
/* table {
    width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
}

tbody {
    height: 120px;
    overflow-y: auto;
}

thead {
}

tbody td, thead th {
    width: 19.2%;
    float: left;
} */
