tbody tr.comparisonTblRow {
    border: 1px solid black;
    cursor: pointer;
}

.leaflet-sidebar-header {
    background-color: #212529!important;
}

.leaflet-sidebar-tabs > ul > li.active {
    background-color: #212529!important;
}

/* @media (min-width: 1200px) {
    .leaflet-sidebar {
        width: 40vw;
        max-width: 40vw;
    }
} */

@media (min-width: 720px) {
    .leaflet-sidebar {
        width: 50vw;
        max-width: 50vw;
    }
}

.containerDiv {
    display: flex;
    flex-direction: column;
}

.featuresTable, .featuresChart {
    flex: 1;
    max-height: 50vh;
    overflow: auto;
}

.recommendations {
    flex: 1;
    max-height: 50vh;
    overflow-y: auto;
}

.configuration {
    margin-top: 20px;
}

.tablist {
    padding-left: 0px;
}

.sidebar-badge {
    position: absolute;
    right: 15px;
    font-size: 9px;
}