tbody tr.comparisonTblRow {
    border: 1px solid black;
    cursor: pointer;
}

.leaflet-sidebar-header {
    background-color: black!important;
}

.leaflet-sidebar-tabs > ul > li.active {
    background-color: black!important;
}

@media (min-width: 1200px) {
    .leaflet-sidebar {
        width: 40vw;
        max-width: 40vw;
    }
}

.containerDiv {
    display: flex;
    flex-direction: column;
}

.featuresTable, .featuresChart {
    flex: 1;
    max-height: 350px;
    overflow: auto;
}

.recommendations {
    flex: 1;
    max-height: 200px;
    overflow-y: auto;
}

.configuration {
    margin-top: 20px;
}

.tablist {
    padding-left: 0px;
}