.recommendationsAccordion .accordion-button {
    background-color: #dae1f6!important;
    color: black!important;
}

.recommendationsAccordion .check-circle {
    color: green;
}

.recommendationsAccordion {
    width: 100%;
    position: absolute;
    bottom: 2px;
}

.recommendationsAccordion .accordionItem {
    overflow: auto; 
    max-height: 35vh;
    flex-direction: column-reverse;
}