.MapFeatureInformation {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  opacity: 0.7;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #fff;
  background: #333;
}

.MapFeatureInformation h4 {
  margin: 0 0 5px;
  opacity: 0.7;
  color: white;
}