*{
    text-align: center;
    /* font-size: 30px; */
}

.WeatherPanel {
    height: 100vh;
    color: #fff;
    background: #333
}

.WeatherInfoSelector {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 100px;
    height: 10%;
    min-height: 100px;
}

.WeatherInfoLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}