.border-row {
    border: 3px solid #4338ca;
    font-weight: 700;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    border: 2px solid black;
}

.tableLegend {
    --cle-background: #f8f9fa;
    --cle-font-size: 11px;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus
{
    box-shadow: unset;
    border-color: #ced4da;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus:hover {
    border-color: #212529;
}

.p-inputtext {
    padding: unset;
    width: 15vw!important;
}

@media (max-width: 720px) {
    .p-inputtext {
        width: 25vw!important;
    }
}

.p-datatable .p-datatable-tbody > tr.p-highlight:not(.border-row) {
    color: black;
}

tr.p-highlight:not(.border-row) .p-checkbox .p-checkbox-box.p-highlight,
.p-selection-column .p-checkbox .p-checkbox-box.p-highlight,
.p-column-header-content .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    background: #556265;
    border:#ced4da;
}

tr.p-highlight.border-row .p-checkbox .p-checkbox-box.p-highlight {
    background: #6366F1;
    border:#6366F1;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #212529;
}

.p-checkbox .p-checkbox-box.p-highlight:hover {
    border-color: pink;
}

#searchHeader {
    font-weight: normal;
    display: flex;
    flex-direction: row;
}

#searchHeader span {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}