.border-row {
    border: 3px solid #4338ca;
    font-weight: 700;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    border: 2px solid black;
}

.tableLegend {
    --cle-background: #f8f9fa;
    --cle-font-size: 11px;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus
{
    box-shadow: unset;
    border-color: #ced4da;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus:hover {
    border-color: #6366F1
}

.p-inputtext {
    padding: unset;
}