.WeatherInfoLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.WeatherInfoSelector {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 100px;
    height: 10%;
    min-height: 100px;
}